<!DOCTYPE html>
<html>
    <body>
        <h1>student intake form</h1>
        <form method="post" action="{% url 'create_student' %}">
            {%csrf_token%}
            <label for="name">student name</label>
            <input type="text" id="name" name="name" value="{{student.name}}">
            <label for="roll">Roll number</label>
            {% if student %}
            <input type="text" id="roll" name="roll" value="{{student.roll_no}}" readonly="true">
            <input type="hidden" name="id" value="{{student.id}}">
            {% else %}
            <input type="text" id="roll" name="">
            {% endif %}
            <input type="submit" value="Enroll student">
        </form>

    </body>
</html>